body{
font-family: Arial;
text-align:center;
padding:40px;
transition: background 0.5s;
}

form{
margin-bottom:20px;
}

input{
padding:10px;
}

button{
padding:10px 15px;
cursor:pointer;
}

#weatherResult{
margin-top:20px;
font-size:18px;
}